@import "../variables";

.pizza-block {
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  &__img {
    width: 260px;
    height: 260px;
    align-items: center;
  }
  &__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__selector {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 85px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #f3f3f3;
    &-style {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        padding: 8px;
        margin: 7px 5px 4.5px 5px;
        text-align: center;
        width: 100%;
        cursor: pointer;
        &.active {
          border-radius: 5px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        }
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
    &-size {
      display: flex;
      justify-content: space-around;
      align-items: center;
      div {
        padding: 8px;
        margin: 4.5px 5px 7px 5px;
        border-radius: 5px;
        text-align: center;
        width: 86px;
        cursor: pointer;
        &.active {
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        }
        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    width: 100%;
    &-price {
      font-size: 22px;
      font-weight: 800;
    }
    &-add {
      padding: 15px;
      background: #fff;
      font-weight: 800;
      color: #eb5a1e;
      border: 2px solid #eb5a1e;
      border-radius: 30px;
      transition: background-color 0.1s ease-in-out;
      &:hover {
        background-color: #eb5a1e;
        color: #fff;
      }
      &.active {
        background-color: #eb5a1e;
        color: #fff;
      }
    }
  }
}
