@import "./libs/normalize";
@import "./variables";
@import "./components/all";

body {
  background: #ffdf8c;
  padding: 50px 0;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.container {
  // width: 90%;
  margin: 0 50px;
}
.main {
  padding: 40px 0;
  &__title {
    margin: 35px 0;
  }
  &__items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
}

%small-button {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  cursor: pointer;
}
%large-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
}

.button-orange {
  @extend %large-button;
  background: #fe5f1e;
  color: #fff;
  border: 2px solid #fff;
  width: 200px;
}
.button-grey {
  @extend %large-button;
  background: #fff;
  color: #d3d3d3;
  border: 2px solid #d3d3d3;
  width: 200px;
}
.button-black {
  @extend %large-button;
  background: #282828;
  color: #fff;
  border: 2px solid #282828;
  width: 210px;
}

.changer {
  @extend %small-button;
  color: #fe5f1e;
  border: 2px solid #fe5f1e;
}
.delete {
  @extend %small-button;
  color: #d7d7d7;
  border: 2px solid #d7d7d7;
}
%bold {
  font-weight: bold;
}
.orange-text {
  @extend %bold;
  color: #fe5f1e;
}
.bold-text {
  @extend %bold;
  color: #000;
}
